          <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                NOMBRE D'AGENTS 
                                                </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800 text-center">
                                                {% set employeCount = 0 %}

                                                {% for users in user %}
                                                    {% if 'ROLE_EMPLOYE' in users.roles %}
                                                        {% set employeCount = employeCount + 1 %}
                                                    {% endif %}
                                                {% endfor %}
                                                    {{ employeCount }}
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-user-tie fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                                    <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                NOMBRE DE CLIENTS</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800 text-center">
                                             {% set clientsCount = 0 %}

                                                {% for users in user %}
                                                    {% if 'ROLE_UTILISATEUR' in users.roles %}
                                                        {% set clientsCount = clientsCount + 1 %}
                                                    {% endif %}
                                                {% endfor %}
                                                    {{ clientsCount }}

                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-user fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                EMAIL</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800 text-center">
                                                        {% if message|length > 0 %}
                                                            <a class="btn btn-danger" href="admin/messages" style="border-radius:50px" role="button"> {{message|length}}</a>
                                                        {% else %}
                                                            <a class="btn btn-success" href="admin/messages" style="border-radius:50px" role="button"> {{message|length}}</a>
                                                        {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-envelope fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                       
                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                RAPPORTS EN ATTENTE</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800 text-center">
                                                {% if rapport|length > 0 %}
                                                   <a class="btn btn-danger" href="admin/rapport/controller/crud/" style="border-radius:50px" role="button"> {{rapport|length}}</a>
                                                {% else %}
                                                    <a class="btn btn-success" href="#" style="border-radius:50px" role="button"> {{rapport|length}}</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-industry fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>