
             <!-- import carte leafleat -->
                         <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
                           integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
                           crossorigin=""/>
                            <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
                        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
                        crossorigin=""></script>

                            <pre style="display: none;">
                                
                                {% for agents in agent %}

                                 {{dump(agents.id)}}
                            <th scope="row"></th>
                               
                            <td>
                                départ : <span class="coord-depart" data-lat="{{ agents.LatDebut }}" data-lng="{{ agents.LngDebut }}" data-prenom="{{ agents.idAgent.prenom }}" data-nom="{{ agents.idAgent.nom }}">{{ agents.LatDebut }} {{ agents.LngDebut }} {{ agents.idAgent.prenom }} {{ agents.idAgent.nom }}</span>
                            </td>
                            <td>
                                retour : <span class="coord-retour" data-lat="{{ agents.latFin }}" data-lng="{{ agents.lntFin }}">{{ agents.latFin }} {{ agents.lntFin }}</span>
                            </td>
                                {% endfor %}
                            </pre>
                            
                        <div class="col-md-12">
                            <h3 class="text-center">Agents en service</h3>
                        <div id="map" style="height:40vh"></div>



                      
                      </div>

                      <script>

                        //getcurrentposition
                        navigator.geolocation.getCurrentPosition(function(position) {
                        console.log(position.coords.latitude, position.coords.longitude);
                           
                           var map = L.map('map').setView([position.coords.latitude, position.coords.longitude], 10);
                        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                           maxZoom: 19,
                           attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                        }).addTo(map);

                        var departCoords = document.querySelectorAll('.coord-depart');
                        var retourCoords = document.querySelectorAll('.coord-retour');

                        departCoords.forEach(function(element) {
                        var lat = parseFloat(element.dataset.lat);
                        var lng = parseFloat(element.dataset.lng);
                        var nom = element.dataset.nom;
                        var prenom = element.dataset.prenom;
                        L.marker([lat, lng]).addTo(map)
                        .bindPopup(prenom+" "+nom)
                        .openPopup();
                      
                        
                        });

                        retourCoords.forEach(function(element) {
                        var lat = parseFloat(element.dataset.lat);
                        var lng = parseFloat(element.dataset.lng);
                        L.marker([lat, lng]).addTo(map);
                        });
                       
                       });
              
                    

                   

                    

                     </script>
