{% extends 'base.html.twig' %}

{% block title %}Abonnement{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">Abonnement</h1>

    <table class="table">
        <tbody>
          
            <tr>
                <th>Nombre de licences</th>
                <td>{{ abonnement.nbLicences }}</td>
            </tr>
            <tr>
                <th>Date du du paiement</th>
                <td>{{ abonnement.datePaiement ? abonnement.datePaiement|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Compte valide</th>
                <td>{{ abonnement.isValid ? 'Oui' : 'Non' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_abonnement_index') }}">Retour</a>

    <a class="btn btn-primary" href="{{ path('app_abonnement_edit', {'id': abonnement.id}) }}">Modifier</a>

    {{ include('abonnement/_delete_form.html.twig') }}

</div>
{% endblock %}
