{% extends 'base.html.twig' %}

{% block title %}Ronde{% endblock %}

{% block body %}
    <div class="container">
        <h1>Ronde</h1>

        {{ include('ronde_controller_crud/_form.html.twig') }}

        <a href="{{ path('app_ronde_controller_crud_index') }}">Retour à la liste</a>
    </div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('ronde_debutAt').addEventListener('click', function() {
            var datetimeField = document.getElementById('{{ form.debutAt.vars.id }}');
            var now = new Date();
            
            // Je veux l'heure actuelle + 4h
            var formattedDateTime = new Date(now.toISOString().slice(0, 16)); // Utilisation de DateTimeImmutable
            formattedDateTime.setHours(formattedDateTime.getHours() + 4);
            datetimeField.value = formattedDateTime.toISOString().slice(0, 16);
            
            // Mettre readonly
            document.getElementById('{{ form.debutAt.vars.id }}').readOnly = true;

            // Je veux afficher la latitude et la longitude dans une alerte
            var options = { enableHighAccuracy: true };
            navigator.geolocation.getCurrentPosition(
                function(position) {
                    alert("GPS départ Latitude : " + position.coords.latitude + " Longitude : " + position.coords.longitude);

                    var latDepartField = document.getElementById('ronde_latDepart');
                    var lntDepartField = document.getElementById('ronde_lntDepart');

                    latDepartField.value = position.coords.latitude;
                    lntDepartField.value = position.coords.longitude;
                },
                function(error) {
                    console.error('Erreur de géolocalisation : ', error);
                },
                options
            );
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('ronde_retourAt').addEventListener('click', function() {
            var datetimeField = document.getElementById('{{ form.retourAt.vars.id }}');
            var now = new Date();
            var formattedDateTime = new Date(now.toISOString().slice(0, 16)); // Utilisation de DateTimeImmutable
            formattedDateTime.setHours(formattedDateTime.getHours() + 4);
            datetimeField.value = formattedDateTime.toISOString().slice(0, 16);

            // Mettre readonly
            document.getElementById('{{ form.retourAt.vars.id }}').readOnly = true;

            // Je veux afficher la latitude et la longitude dans une alerte
            var options = { enableHighAccuracy: true };
            navigator.geolocation.getCurrentPosition(
                function(position) {
                    alert("GPS retour Latitude : " + position.coords.latitude + " Longitude : " + position.coords.longitude);

                    var latRetourField = document.getElementById('ronde_latRetour');
                    var lntRetourField = document.getElementById('ronde_lntRetour');

                    latRetourField.value = position.coords.latitude;
                    lntRetourField.value = position.coords.longitude;
                },
                function(error) {
                    console.error('Erreur de géolocalisation : ', error);
                },
                options
            );
        });
    });
</script>

{% endblock %}
