{% extends 'base.html.twig' %}

{% block title %}Ronde{% endblock %}

{% block body %}
    <h1>Ronde</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ronde.id }}</td>
            </tr>
            <tr>
                <th>DebutAt</th>
                <td>{{ ronde.debutAt ? ronde.debutAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>RetourAt</th>
                <td>{{ ronde.retourAt ? ronde.retourAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Observation</th>
                <td>{{ ronde.observation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_ronde_controller_crud_index') }}">back to list</a>

{% endblock %}
