{% extends 'base.html.twig' %}

{% block title %}PriseDeService index{% endblock %}

{% block body %}

<div class="container">
    <h1 class="text-center">Prise et fin de service</h1>

    <table class="table">
        <thead>
            <tr>
               
                <th>Date</th>
                <th>Site</th>
                <th>DateFin</th>
                
              
                <th>action</th>
            </tr>
        </thead>
        <tbody>
        {% for prise_de_service in prise_de_services %}
            <tr>
               
                <td>{{ prise_de_service.Date ? prise_de_service.Date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ prise_de_service.site ? prise_de_service.site.nom : '' }}</td>
                <td>{{ prise_de_service.dateFin ? prise_de_service.dateFin|date('Y-m-d H:i:s') : '' }}</td>
             
                <td>
                    <a class="btn btn-danger" href="{{ path('app_prise_de_service_crud_edit', {'id': prise_de_service.id}) }}">Fin de service</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

  

    {% if prise_de_services|length < 1 %}
         <a class="btn btn-success" href="{{ path('app_prise_de_service_crud_new') }}">Prise de service</a>
    {% endif %}
</div>
{% endblock %}
