{% extends 'base.html.twig' %}

{% block title %}

Administration{% endblock %}

{% block body %}

{% if app.user.roles[0] == "ROLE_USER" %}
   {{ include('partials/menu_gerant.html.twig') }}  
{% endif %}

{% if app.user.roles[0] == "ROLE_EMPLOYE" %}
   {{ include('partials/menu_employe.html.twig') }}  
{% endif %}

{% if app.user.roles[0] == "ROLE_UTILISATEUR" %}
   {{ include('partials/menu_utilisateur.html.twig') }}  
{% endif %}
   <!-- Page Heading -->
   <div class="container">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Tableau de bord</h1>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                            {% if app.user.roles[0] == "ROLE_USER" %}
                            {{ include('partials/infos_gerant.html.twig') }}  
                            {% endif %}
                     
                        </div>    
                      
                      
                    
                     <form action="#" method="POST">
                        <div class="input-group mb-3">
                           <select name="site"  class="custom-select" id="inputGroupSelect01">
                              <option selected>Choisir le site</option>
                                 {% for site in sites %}
                                 <option value="{{ site.id }}">{{ site.nom }}</option>
                                    {% endfor %}
                           </select>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Valider">
                   </form>
                                    

                           <table class="table table-striped">

                         
                              <thead>
                              {% if siteChoisi is not empty %}
                                  <h2 class="text-center">{{siteChoisi.nom}}</h2>
                              {% endif %}
                                 <tr>
                                    <th scope="col"></th>
                                   
                                    <th scope="col">Départ</th>
                                    <th scope="col">Observation</th>
                                    <th scope="col">Retour</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr>
                                    
                                    
                                    {% for ronde in rondes %}
                                       <th scope="row"></th>
                                          
                                             <td>
                                                {{ ronde.debutAt|date('d/m/Y H:i:s') }}
                                             </td>
                                             <td>
                                                {{ ronde.observation }}
                                             </td>
                                             <td>
                                                {{ ronde.retourAt|date('d/m/Y H:i:s') }}
                                             </td>
                                          </tr>
                                       {% endfor %}
                              
                              </tbody>
                              </table>  
                    </div>
{% endblock %}
