{% extends 'base.html.twig' %}

{% block title %}Rapport index{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Rapport</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Auteur</th>
                    <th>Site</th>
                    <th>Contenu</th>
                    <th>Date</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
       
           
            {% for rapport in rapports %}

    {% if app.user.roles[0] == "ROLE_USER" %}

        {% if rapport.isReadChef == 0 %}
                        {% set bold = "fw-bold" %}
                    {% else %}
                        {% set bold = "" %}
        {% endif %}
        
    {% endif %}

    {% if app.user.roles[0] == "ROLE_UTILISATEUR" %}

        {% if rapport.isReadClient == 0 %}
                        {% set bold = "fw-bold" %}
                    {% else %}
                        {% set bold = "" %}
        {% endif %}
        
    {% endif %}
               
                <tr>
                    <td class="{{bold}}">
                    
                    {% for auteur in auteurs %}
                                    {% if auteur.id == rapport.auteur %}
                                    {{ auteur.nom }} {{ auteur.prenom }}
                                    
                                    {% endif %}
                    {% endfor %}

               
              
                    
                    
                    </td>

          

              

                {% for site in sites %}
                                    {% if site.id == rapport.site.id %}
                                    <td class="{{bold}}">{{ site.nom }}</td>
                                    {% endif %}
                {% endfor %}

                       
               

                    
                    <td class="{{bold}}">{{ rapport.content }}</td>
                    <td class="{{bold}}">{{ rapport.createdAt ? rapport.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('app_rapport_controller_crud_show', {'id': rapport.id}) }}"><i class="fas fa-eye fa-lg"></i></a>
                     
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
       
        <a class="btn btn-primary" href="{{ path('app_rapport_controller_crud_new') }}">Rédiger un rapport</a>
        </div>
{% endblock %}
