{% extends 'base.html.twig' %}

{% block title %}Rapport index{% endblock %}

{% block body %}
    <div class="container">
        <h1>Rapport</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Auteur</th>
                    <th>Site</th>
                    <th>Contenu</th>
                    <th>Date</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
       
           
            {% for rapport in rapports %}
                <tr>
                    <td>
                    
                    {% for auteur in auteurs %}
                                    {% if auteur.id == rapport.auteur %}
                                    {{ auteur.nom }} {{ auteur.prenom }}
                                    
                                    {% endif %}
                    {% endfor %}

               
              
                    
                    
                    </td>

          

              

                {% for site in sites %}
                                    {% if site.id == rapport.site.id %}
                                    <td>{{ site.nom }}</td>
                                    {% endif %}
                {% endfor %}

                       
               

                    
                    <td>{{ rapport.content }}</td>
                    <td>{{ rapport.createdAt ? rapport.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('app_rapport_controller_crud_show', {'id': rapport.id}) }}">show</a>
                     
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_rapport_controller_crud_new') }}">Create new</a>
        </div>
{% endblock %}
